.mobile {
 width: 100vw;
 text-align: center;
}

#finalinvite {
	
	
}

.static {
  position: fixed;
  top: 0px;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  overflow: hidden;
  background-size: 100%;
  }
  
  body{
  
  }
  
  
#responseOuter {
  
position: relative;
height: 30vh;
margin: 0 auto;
padding: 0;
width: 100%;
overflow: hidden;
padding: 1%;
top: 48%;

z-index: 700;
}


.response {

width: 50%;
height: 60%;
margin-top: 3%;
padding-top: 0;
margin-right: 1%;
margin-left: 1%;
font-size: large;
color: #EDE2DE;
text-align: center;

background: #E54E17;
/* outline: black; */
border: 2px solid #131313;
/* outline-width: thick; */
border-radius: 40px;
/* border-color: black; */
border-width: medium;
cursor: pointer;
/* -webkit-box-shadow: inset 0 -2px #2a8bcc; */
/* box-shadow: inset -5px -5px #89827A; */
z-index: 700;
}
.response:active {
  top: 1px;
  background: #71b7e6;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.selected {
font-weight: bold;
background: antiquewhite;
color: black;
box-shadow: inset 5px 5px #D3CBC3;
}

#weddingimage {
height:50vh;

  background: url('/images/us.png') 50% 0 no-repeat fixed;
background-size:100%  ;
	background-position: center center;
}